<section class="left-container">
  <header class="top">
      <img src="/images/left/mydesk.jpg">
  </header>
  <footer class="bottom">
      <div class="avator">
        <img src="/images/left/zhangwei.jpg" alt="" />
      </div>
      <div class="nicename">
        <a href="http://www.awbeci.xyz">耀一世界的彩</a>
      </div>
      <div class="subname">
        <span>全栈工程师的日常</span>
      </div>
      <ul class="list-inline">



                            <li>
                                <a target="_blank" href="https://www.zhihu.com/people/huxpro">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa  fa-stack-1x fa-inverse">知</i>
                                    </span>
                                </a>
                            </li>


                            <li>
                                <a target="_blank" href="http://weibo.com/huxpro">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>


                            <li>
                                <a target="_blank" href="https://www.facebook.com/huxpro">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>


                            <li>
                                <a target="_blank" href="https://github.com/huxpro">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>


                        </ul>
  </footer>
</section>
