<section class="left-container">
  <header class="top">
      <img src="http://cdn.awbeci.com/images/awbeci-xyz/blog/QQ20161202-1%402x.png">
  </header>
  <footer class="bottom">
      <div class="avator">
        <a href="http://www.awbeci.com" target="_blank">
          <img src="/images/left/zhangwei.jpg" alt="" />
        </a>
      </div>
      <div class="nicename">
        <a href="http://www.awbeci.xyz">耀一世界的彩</a>
      </div>
      <div class="subname">
        <span>全栈工程师的日常</span>
      </div>
      <nav class="navbar">
        <a href="javascript:;" id="showCategories">全部文章</a>
        <a href="http://resume.awbeci.xyz">关于我</a>
      </nav>
      <ul class="list-inline">
        <li>
            <a target="_blank" href="https://www.facebook.com/weiruan.zw">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://twitter.com/zhangwei0808">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="http://weibo.com/waishow">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/zhangwei900808">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
            </a>
        </li>
      </ul>
  </footer>
</section>
