*{
  box-sizing: border-box;
}
ul{
  margin:0;
  padding: 0;
}
ul li{
  float:left;
  list-style: none;
}
.blog-container{
  position: absolute;
  right: 0;
  min-height: 100%;
  background: #fff;
  left: 300px;
  width: auto;
  padding: 20px 50px;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-list{
  h1{
    a{
      color:#404040;
      &:hover{
        color:#2a7ae2;
        text-decoration: none;
      }
    }
  }
  .content{
    color:#a3a3a3;
  }
}

.jumbotron-icon{
  .fa-2{
        font-size: 2em;
  }
}

.pager{
  .previous{
    float: left;
  }
  .next{
    float: right;
  }
}


