*{
  box-sizing: border-box;
}
body{
  overflow-y: auto;
  overflow-x: hidden;
}
ul{
  margin:0;
  padding: 0;
}
ul li{
  float:left;
  list-style: none;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.blog-container{
  position: absolute;
  right: 0;
  min-height: 100%;
  background-color: #ddd;
  left: 300px;
  width: auto;
  .note-footer{
    @extend .flex-center;
    padding: 0 0 20px;
  }
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  margin: 30px;
  padding: 3% 5%;
  background-color: #fff;
  transition: all .2s ease-in;
}
.post-list{
  display: inline-block;
  li{
    width: 100%;
    margin-bottom: 0;
    header{
      h1{
        a{
          color:#404040;
          &:hover{
            color:#2a7ae2;
            text-decoration: none;
          }
        }
      }
    }
    .content{
      color:#a3a3a3;
      font-size: 14px;
    }
    .post-meta{
      font-family: Lora,'Times New Roman',serif;
      color: gray;
      font-size: 16px;
      font-style: italic;
      margin-top: 5px;

      .fa{
        margin:0 5px;
      }
    }
  }
}

.jumbotron-icon{
  .fa-2{
        font-size: 2em;
        @extend .flex-center;
  }
}

.pagination{
  .pager{
    @extend .flex-center;
    width: 100%;
    .previous{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      a{
        padding: 10px;
        background-color: #eee;
        border-radius: 50%;
        &:hover{
          text-decoration: none;
          color: #1756a9;
        }
      }
    }
    .next{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      a{
        padding: 10px;
        background-color: #eee;
        border-radius: 50%;
        &:hover{
          text-decoration: none;
          color: #1756a9;
        }
      }
    }
  }
}
