*{
  box-sizing: border-box;
}
ul{
  margin:0;
  padding: 0;
}
ul li{
  float:left;
  list-style: none;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.blog-container{
  position: absolute;
  right: 0;
  min-height: 100%;
  background: #fff;
  left: 300px;
  width: auto;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.home{
  padding: 20px 50px;
}
.post-list{
  h1{
    a{
      color:#404040;
      &:hover{
        color:#2a7ae2;
        text-decoration: none;
      }
    }
  }
  .content{
    color:#a3a3a3;
    font-size: 14px;
  }
  .post-meta{
    font-family: Lora,'Times New Roman',serif;
    color: gray;
    font-size: 16px;
    font-style: italic;
    margin-top: 5px;
  }
}

.jumbotron-icon{
  .fa-2{
        font-size: 2em;
  }
}

.pager{
  .previous{
    float: left;
  }
  .next{
    float: right;
  }
}


