.left-container{
  background: #333;
  width: 300px;
  position: fixed;
  opacity: 1;
  transition: all .2s ease-in;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  header{
    img{
      width: 100%;
    }
  }

  footer{
    div.avator{
      img{
          
      }
    }
  }
}
