.left-container{
  background: #000;
  width: 300px;
  position: fixed;
  opacity: 1;
  transition: all .2s ease-in;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  header{
    img{
      width: 100%;
    }
  }

  footer{
    .avator{
      @extend .flex-center;
      margin-top: -52px;
      img{
        width: 90px;
        border-radius: 50%;
        border: 2px solid #fff;
      }
    }
    .nicename{
      @extend .flex-center;
      margin: .67em 0;
      a{
        color: #fff;
        background: transparent;
        text-decoration: none;
        font-family: Roboto,serif;
        font-size: 25px;
        &:hover{
          color:#dd1144;
        }
      }
    }
    .subname{
      @extend .flex-center;
      span{
        color: #999;
        font-size: 14px;
        line-height: 25px;
      }
    }
    .navbar{
      margin-top: 50px;
      @extend .flex-center;
      a{
        color: #999;
        font-size: 12px;
        line-height: 25px;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .list-inline{
      @extend .flex-center;
      position: absolute;
      bottom: 15%;
      left: 0;
      width: 100%;
      a{
        &:hover{
          color:#2a7ae2;
        }
      }
    }
  }
}
